# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.env.production
.env.local
.env
# Logs
*.log

# IDE
.vscode/
.idea/

# Builds
dist/
build/
.next/
out/
coverage/
tmp/

# Prisma
backend/prisma/migrations/

# Docker
*.pid
docker-data/

# Mobile
android/
ios/
.expo/

file
